<!DOCTYPE html>
<html>
  <head>
     <title>Data Administration for the {{name}} Database</title>
     <body>
	<meta charset="utf-8" />
  </head>
  <br/>
  <h2>List of Users</h2>
  <ul>
  {{#users}}
    <li>
        <a href="/admin/modifyUser/{{.}}">{{.}}</a>
	<a href="/admin/deleteUser/{{.}}"><button>Delete</a>
    </li>
  {{/users}}
 </ul>
    <br>
	<a href="/admin/addUser"><button>Create User</a>
</html>
