<!DOCTYPE html>
<html>
  <head>
     <title>Data Administration for the {{user}} Database</title>
     <meta charset="utf-8" />
  </head>
  <body>  
  <br/>
     <h2>Are you sure you want to delete user: {{user}}?</h2> 
     <form action="/admin/deleteUser/{{user}}" method="POST">
       <input type="submit" value="Delete">
     </form>
</html>
