<!DOCTYPE html>
<html>
   <style>
<!   .menu-options buttons { 	>
<!   display: block;		>
<!   }				>
   </style>
   <head>
      <title>Main Menu</title>
      <meta charset="utf-8" />
   </head>
   <body>
      <h1>Image Gallery Application Main Menu</h1>
	 <a href="/users/addimage"><button>Upload Image</a>
	 <a href="/users/{{ username }}/viewimages"><button>View Images</a>
	 <a href="/admin/users"><button>Admininstrator</a>
   </body>
</html>

