<!DOCTYPE html>
<html>
  <head>
     <title>Data Administration for the {{user}} Database</title>
     <meta charset="utf-8" />
  </head>
  <body>
  <br/>
  <h2>Modify Database User: {{user}}</h2>
  <h4>To keep existing Password or Full Name, leave the respective field blank.</h4>

    <form action="/admin/modifyUser/{{user}}" method="POST">

      <label for="pwd">New Password:</label>
      <input type="text" id="pwd" name="pwd"><br><br>

      <label for="full_name">New Full Name:</label>
      <input type="text" id="full_name" name="full_name"><br><br>

      <input type="submit" value="Modify User">	
</form>
</html>
