<!DOCTYPE html>
<html>
  <head>
    <title>Users</title>
    <meta charset="utf-8" />
  </head>
  <body>
    <h1>Users</h1>
	{{# users }}
	<li><a href="/admin/modifyUser/{{ username }}">{{ fullName }} ({{ username }})<a>
	==
	<a href="/admin/deleteUser/{{ username }}">Delete</a></li>
	{{/ users }}
	{{^ users }}
	No users
	{{/ users }}
	<a href="/admin/addUser"><button>Create User</a>
	<a href="/"><button>Back to Main Menu</button><br></a>
  </body>
</html>

